In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data1=pd.read_csv('Walmart_Store_sales.csv')

In [3]:
data1.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [4]:
data1.shape

(6435, 8)

In [5]:
data1.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [7]:
data1.isna().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

## Analysis

In [8]:
#Which store has maximum sales
data1.groupby('Store')['Weekly_Sales'].sum().idxmax()

20

In [9]:
#Which store has maximum standard deviation i.e., the sales vary a lot. 
data1.groupby('Store')['Weekly_Sales'].std().idxmax()

14

In [10]:
#coefficient of mean to standard deviation
CV=data1.groupby('Store')['Weekly_Sales'].std()/data1.groupby('Store')['Weekly_Sales'].mean()
print(CV)

Store
1     0.100292
2     0.123424
3     0.115021
4     0.127083
5     0.118668
6     0.135823
7     0.197305
8     0.116953
9     0.126895
10    0.159133
11    0.122262
12    0.137925
13    0.132514
14    0.157137
15    0.193384
16    0.165181
17    0.125521
18    0.162845
19    0.132680
20    0.130903
21    0.170292
22    0.156783
23    0.179721
24    0.123637
25    0.159860
26    0.110111
27    0.135155
28    0.137330
29    0.183742
30    0.052008
31    0.090161
32    0.118310
33    0.092868
34    0.108225
35    0.229681
36    0.162579
37    0.042084
38    0.110875
39    0.149908
40    0.123430
41    0.148177
42    0.090335
43    0.064104
44    0.081793
45    0.165613
Name: Weekly_Sales, dtype: float64

In [11]:
from datetime import datetime
data1['Date']=data1['Date'].astype('datetime64[ns]')

In [12]:
data1['Year']=data1['Date'].dt.year
data1['Month']=data1['Date'].dt.month
data1.set_index('Date',inplace=True)

In [13]:
data1.head()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month
Date,,,,,,,,,
2010-05-02,1,1643690.90,0,42.31,2.572,211.096358,8.106,2010,5
2010-12-02,1,1641957.44,1,38.51,2.548,211.242170,8.106,2010,12
2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2010,2
2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2010,2
2010-05-03,1,1554806.68,0,46.50,2.625,211.350143,8.106,2010,5

In [14]:
data1.groupby('Month')['Weekly_Sales'].sum()

Month
1     4.264263e+08
2     5.220257e+08
3     5.534864e+08
4     6.453239e+08
5     6.056966e+08
6     5.750180e+08
7     5.933139e+08
8     5.642317e+08
9     5.905323e+08
10    6.029189e+08
11    4.591693e+08
12    5.990761e+08
Name: Weekly_Sales, dtype: float64

In [15]:
data1.groupby('Month')['Weekly_Sales'].mean()

Month
1     9.476139e+05
2     1.054597e+06
3     1.024975e+06
4     1.024324e+06
5     1.035379e+06
6     1.064848e+06
7     1.014212e+06
8     1.044874e+06
9     1.009457e+06
10    1.030631e+06
11    1.133751e+06
12    1.210255e+06
Name: Weekly_Sales, dtype: float64

In [16]:
q3_2012_sales = data1.loc['2012-07-01':'2012-09-30']
q2_2012_sales = data1.loc['2012-04-01':'2012-06-30']

# Calculate growth rate for each store
growth_rate = (q3_2012_sales.mean() - q2_2012_sales.mean()) / q2_2012_sales.mean() * 100

# Find stores with good quarterly growth rate
good_growth_stores = growth_rate[growth_rate > 0]

print("Stores with good quarterly growth rate in Q3 2012:",growth_rate)
print(good_growth_stores)

Stores with good quarterly growth rate in Q3 2012: Store            0.000000
Weekly_Sales    -2.411831
Holiday_Flag          inf
Temperature      9.587653
Fuel_Price      -0.734353
CPI              0.167217
Unemployment    -1.374853
Year             0.000000
Month           55.223881
dtype: float64
Holiday_Flag          inf
Temperature      9.587653
CPI              0.167217
Month           55.223881
dtype: float64

## Machine Learning Model

In [17]:
#Linear Regression – Utilize variables like date and restructure dates as 1 for 5 Feb 2010 (starting from the earliest date in order). Hypothesize if CPI, unemployment, and fuel price have any impact on sales.

In [26]:
from sklearn.linear_model import LinearRegression
X=data1[['CPI', 'Unemployment', 'Fuel_Price']]
y=data1['Weekly_Sales']
model=LinearRegression()
model.fit(X,y)

LinearRegression()

In [27]:
# Print coefficients
print("Coefficients:")
for i, col in enumerate(X.columns):
    print(f"{col}: {model.coef_[i]}")

# Print intercept
print(f"Intercept: {model.intercept_}")

# Print R-squared
print(f"R-squared: {model.score(X, y)}")

Coefficients:
CPI: -1696.875957512746
Unemployment: -42859.19551752347
Fuel_Price: -19266.143545978754
Intercept: 1745656.7091414544
R-squared: 0.023572459532823054